/**
 * This file loads on the customizer page.
 *
 * It is used to style the custoizer UI and not the site. The customizer loads the site within an iframe
 * so this file will have no effect on the site.
 *
 * @wp-hook  customize_controls_print_styles
 */

/* Header Section */
#accordion-section-pwps_customizer_header_section {

}

/* Opacity field */
#customize-control-pwps_customizer_header_opacity input {
	max-width: 47px;
}

/* Buttons Section */
#accordion-section-pwps_customizer_buttons_section #customize-control-pwps_customizer_buttons_primary_bg,
#accordion-section-pwps_customizer_buttons_section #customize-control-pwps_customizer_buttons_secondary_bg,
#accordion-section-pwps_customizer_buttons_section #customize-control-pwps_customizer_buttons_warning_bg {
	padding-top: 30px;
	margin-top: 20px;
	border-top: 1px solid #ccc;
}