/**
 * Premise WP Resets
 *
 * Basic styles for wordpress editor
 */


img[class*=" wp-image-"],
img[class^="wp-image-"] {
	max-width: 100%;
	height: auto;
}

/* Image Alignment */

img.alignnone {
	display: inline-block;
}

img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft {
	float: left;
	padding-right: 20px;
}

img.alignright {
	float: right;
	padding-left: 20px;
}