
@media screen and (min-width: 600px) {

}



@media screen and (min-width: 768px) {
	.pwps-the-loop .pwps-post-thumbnail {
		float: left;
		padding-right: 20px;
		max-width: 400px;
		box-sizing: border-box;
	}
}